---
import ContactLinks from "../ContactLinks.astro";
import lines from "../../../data/taglines.json";
---

<header>
  <div class="header-content">
    <h1><a href="/">Frederick O'Brien</a></h1>
    <div id="subheading"></div>
    <script is:inline>
      const taglines = [
        "Master of no trades",
        "Of no particular consequence",
        "Could be worse",
        "'Like a badly written novel'",
        "Follymath",
        "Occasionally competent",
      ];

      const randomTagline =
        taglines[Math.floor(Math.random() * taglines.length)];

      document.getElementById("subheading").innerHTML += randomTagline;
    </script>
    <!-- <p>
      Software engineer at <a
        href="https://www.theguardian.com/profile/frederick-o-brien"
        ><em>The Guardian</em>
      </a>, soft skills and professional development editor at <a
        href="https://www.smashingmagazine.com/author/frederick-o-brien/"
        ><em>Smashing Magazine</em>
      </a>, grinch at <a href="https://audioxide.com"><em>Audioxide</em></a>.
      Bylines here and there.
    </p> -->
    <ContactLinks />
  </div>
</header>
<style>
  h1 a {
    color: black;
    text-decoration: none;
  }
  h1 a:hover {
    opacity: 0.7;
  }
  h1 {
    font-size: 2.5rem;
  }
  img {
    padding: 30px 0;
  }
  nav {
    padding: 20px 0;
  }
  li {
    text-align: left;
    font-family: Oswald;
    font-size: 1.3rem;
    list-style: none;
  }
  .header-content {
    padding: 30px;
  }
  #subheading {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  /* TABLET */

  @media (min-width: 768px) and (max-width: 1024px) {
  }

  /* DESKTOP */

  @media (min-width: 1025px) {
    header {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 25%;
      display: flex;
      align-items: center;
    }
  }
</style>
