---
import BaseLayout from "../components/layout/BaseLayout.astro";

const weblogs = (await Astro.glob("./weblog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.publicationDate).valueOf() -
    new Date(a.frontmatter.publicationDate).valueOf()
);
---

<BaseLayout title="Weblog" description="Words n' that">
  <div class="weblog-container">
    <h2>Weblog</h2>
    <ul>
      {
        weblogs.map((weblog) => (
          <li>
            <time datetime={weblog.frontmatter.publicationDate}>
              {new Date(weblog.frontmatter.publicationDate).toLocaleDateString(
                "en-us",
                {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                }
              )}
            </time>
            <a href={weblog.url}>{weblog.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>

<style>
  h2 {
    text-decoration: underline;
  }
  .weblog-container {
    text-align: center;
    max-width: 800px;
    margin: 2rem auto;
  }
  ul {
    list-style-type: none;
    padding: unset;
    font-size: 1.4rem;
  }
  ul li {
    display: flex;
  }
  ul li time {
    flex: 0 0 130px;
    font-style: italic;
    color: #595959;
  }
  ul li a:visited {
    color: #8e32dc;
  }
  img {
    max-width: 100%;
    margin: 30px auto;
  }
</style>
