---
export interface Props {
  url: string;
  title: string;
  publication: string;
  publicationDate: string;
}

const { url, title, publication, publicationDate } = Astro.props;
---

<div class="article-card">
  <a href={url}>
    <h3>{title}</h3>
  </a>
  <div class="article-details">
    {publication === "Weblog" ? publication : <i>{publication}</i>}, {
      publicationDate
    }
  </div>
</div>

<style>
  h3 {
    font-size: 1.5rem;
    line-height: 120%;
  }
  .article-card {
    padding-bottom: 20px;
  }
  .article-details {
    margin-top: 10px;
  }
</style>
