---
import personalDetails from "../../data/myDetails.json";
import type { MyDetails } from "../../data/types";

const myDetails: MyDetails = personalDetails;

const mailToLink = `mailto:${myDetails.personalInfo.emailAddress}`;
---

<section class="contact">
  <ul class="contact-icons-list">
    <li>
      <a href=`https://github.com/${myDetails.socialMediaHandles.gitHub}`
        ><img
          class="contact-icon"
          src="/icons/github-icon.png"
          alt="GitHub"
          title="GitHub"
        />
      </a>
    </li>
    <li>
      <a href={mailToLink}
        ><img
          class="contact-icon"
          src="/icons/email-icon.png"
          alt="Email"
          title="Email"
        />
      </a>
    </li>
    <li>
      <a href=`https://twitter.com/${myDetails.socialMediaHandles.twitter}`
        ><img
          class="contact-icon"
          src="/icons/twitter-icon.png"
          alt="Twitter"
          title="Twitter"
        />
      </a>
    </li>
  </ul>
</section>

<style>
  .contact {
    padding: 10px 0px 10px 0px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .contact-icons-list li {
    display: inline-block;
    float: none;
  }

  .contact-icon {
    width: 30px;
    padding: 0 0.5rem;
  }

  .contact-icon:hover {
    opacity: 0.6;
  }
</style>
