---
import ContactLinks from "./ContactLinks.astro";
---

<header>
  <div class="header-content">
    <h2>Frederick O'Brien</h2>
    <div class="subheading">Master of no trades</div>
    <img src="/self-portrait.jpg" alt="Self portrait of Frederick O'Brien" />
    <nav>
      <ul>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </nav>
    <ContactLinks />
  </div>
</header>
<style>
  header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20%;
  }
  h2 {
    margin: 0;
    font-size: 2.5rem;
  }
  li {
    text-align: right;
    font-family: Oswald;
    font-size: 2rem;
  }
  .header-content {
    padding: 20px;
  }
  .subheading {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    font-weight: 300;
  }
</style>
