---
import BaseLayout from "../components/layout/BaseLayout.astro";

export interface Props {
  content: {
    title: string;
    standfirst: string;
    publicationDate: string;
    featuredImage: string;
  };
}

const {
  content: { title, standfirst, publicationDate: pubDate, featuredImage },
} = Astro.props;
---

<BaseLayout
  title={`${title} | Weblog | Frederick O'Brien`}
  description={standfirst}
>
  <a href="/weblog"><h1>Weblog</h1></a>
  <article>
    <h2 class="title">{title}</h2>
    {pubDate && <time>{"0" + pubDate}</time>}
    <hr />
    <slot />
  </article>
</BaseLayout>

<style>
  a {
    color: black;
  }
  h1 {
    text-align: center;
    margin: 2rem 0;
    text-decoration: underline;
  }
  .title {
    font-size: 2em;
    padding: 0;
    margin: 0.5rem 0 0.5rem 0;
  }
  article {
    width: 90%;
    margin: auto;
    padding: 0 0 2rem 0;
  }
  /* DESKTOP */

  @media (min-width: 1025px) {
    article {
      width: 50%;
      margin: 0 auto;
    }
  }
</style>
