---
import BaseLayout from "../components/layout/BaseLayout.astro";

export interface Props {
  content: {
    title: string;
    standfirst: string;
    publicationDate: string;
    featuredImage: string;
  };
}

const {
  content: { title, standfirst, publicationDate: pubDate, featuredImage },
} = Astro.props;
---

<BaseLayout
  title={`${title} | Weblog | Frederick O'Brien`}
  description={standfirst}
>
  <article>
    <h1 class="title">{title}</h1>
    {pubDate && <time>{pubDate}</time>}
    <hr />
    <slot />
  </article>
</BaseLayout>

<style>
  .title {
    font-size: 2em;
    margin: 1rem 0 0.5rem 0;
  }
  article {
    width: 50%;
    max-width: 800px;
    margin: 2rem auto;
  }
</style>
